<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni Login</title>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    <div class="login-container">
        <div class="logo">
            <img src="images/collage/Designer-removebg-preview.png" alt="College Logo" style="width: 300px">
        </div>
        <h2>Alumni Login</h2>
        <form action="/detail" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Login</button>
        </form>
        <div class="account-recovery">
            <p>Forgot your password? <a href="/reset-password">Reset password</a></p>
            <p>Your credentials won't be shared or spammed.</p>
        </div>
        <div class="contact-info">
            <p>Contact us: +245 04 166 0355</p>
            <p>Email: support@college.edu</p>
        </div>
        <div class="social-media">
            <a href="https://www.facebook.com/"><img src="images/social/facebook-circle-logo-png.png" alt="Facebook"></a>
            <a href="https://x.com/?lang=en"><img src="images/social/x-logo-twitter-new-brand-contained-512.webp" alt="Twitter"></a>
            <a href="https://www.linkedin.com/"><img src="images/social/LinkedIn_logo_initials.png" alt="LinkedIn"></a>
            <a href="https://www.instagram.com/accounts/login/?hl=en"><img src="images/social/Instagram_logo_2016.svg.webp" alt="Instagram"></a>
        </div>
    </div>
</body>
</html>
